.stepper {
    height: 568px;
    width: 274px;
    background-image: url('../../../public/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 768px) {
    .stepper {
        height: 160px;
        width: 100%;
        background-image: url('../../../public/assets/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
    }
}