.lg {
    font-size: 36px;
    font-weight: var(--font-bold);
}

.md {
    font-size: var(--font-size);   
}

.sm {
    font-size: 14px;
}

.primary {
    color: var(--primary-blue)
}

.secondary {
    color:  var(--base-cool-gray);
}

.accent {
    color: var(--primary-purple);
}

.error {
    color: var(--primary-straberry-red)
}

.light {
    color: var(--base-white);
}