.step {
    transition: all 0.2s ease-in-out;
}

.step:hover {
    background-color: var(--primary-light-blue);
    color: black;
}

.selected .step {
    background-color: var(--primary-light-blue);
    color: black;
}