input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.radio-container {
    position: relative;
}

.radio-container:hover .card-container{
    border-color: var(--primary-purple);
}

.card-container {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card-container:hover {
    border-color: var(--primary-purple);
}

.selected .card-container {
    background-color: var(--base-magnolia);
}